<p>Hey {{ name }},</p>
<p>Please go to the check confirmation page and insert this code</p>
<p>
    <a href="{{ url }}">{{code}}</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
